.picture {
    width: 300px;
    height: 400px;
    text-align: center;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    padding-top: 10px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}